<section class="hero is-chudaiblue">
  <div class="hero-body">
    <div class="columns">
      <div class="column is-8">
        <h3 class="has-text-weight-bold is-size-3">
          水沢 菜音 <small>さん</small>
        </h3>
        <p>Cplusへようこそ。</p>
      </div>
      <div class="column is-4">
        <p>経済学部経済情報システム学科</p>
        <p>学籍番号：21B2125999X</p>
      </div>
    </div>
  </div>
</section>
<section class="container is-fluid">

  <section class="section">
    <div class="tile is-ancestor">
      <div class="tile is-vertical is-8">
        <div class="tile">
          <div class="tile">
            <a class="tile is-parent" href="/notifications" style="text-decoration: none;">
              <article class="tile is-child notification is-light" style="outline: 0.1px solid;">
                <p class="title">お知らせ</p>
                <p class="subtitle">
                  <i class="fas fa-envelope"></i>
                  新しいお知らせがあります
                </p>
                <ul class="container serif">
                  <li>
                    <span class="serif">[緊]</span>
                    学割証の発行について（中央大学）
                  </li>
                  <li>
                    <span class="serif">[緊]</span>
                    「キャリアデザイン」（日本航空連携プログラム）の募集について（経済学部事務室）
                  </li>
                  <li>
                    <span class="serif">[緊]</span>
                    2021年度のオンライン授業環境（Web会議システム）について（ご連絡）（中央大学）
                  </li>
                </ul>
                ほか[緊]3件, [重]9件, その他お知らせ3件が未読です
              </article>
            </a>
          </div>
          <div class="tile is-parent is-vertical">
            <a class="tile is-child notification is-info" href="/cources">
              <p class="title">履修登録</p>
              <p class="subtitle">履修登録および時間割の閲覧ができます。</p>
            </a>
            <a class="tile is-child notification is-info" href="/myinfo">
              <p class="title">個人情報の編集</p>
              <p class="subtitle">
                メールアドレス、通学区間の登録・変更ができます。
              </p>
            </a>
            <a class="tile is-child notification is-info" href="/myinfo">
              <p class="title">通知設定</p>
              <p class="subtitle">
                メールアドレス、通知範囲の登録・変更ができます。
              </p>
            </a>
            <a class="tile is-child notification is-info" href="/myinfo">
              <p class="title">証明書発行</p>
              <p class="subtitle">
                各種証明書発行の申請を行います
              </p>
            </a>
          </div>
        </div>
      </div>
      <div class="tile is-vertical is-4">
        <div class="tile">
          <div class="tile is-parent is-vertical">
            <a class="tile is-child notification is-success" href="//room.chuo-u.ac.jp">
              <p class="title">Manaba</p>
              <p class="subtitle">
                Manabaに移動します
              </p>
            </a>
            <a class="tile is-child notification is-dark" href="//opac.library.chuo-u.ac.jp">
              <p class="title">OPAC</p>
              <p class="subtitle">
                図書館
              </p>
            </a>
            <a class="tile is-child notification is-warning" href="/home/manuals">
              <p class="title">マニュアル</p>
              <p class="subtitle">
                使い方を説明します
              </p>
            </a>
            <a class="tile is-child notification is-danger" href="//www2.chuo-u.ac.jp/library/ssl-vpn/ssl-vpn_manual.html">
              <p class="title">SSL-VPN <small>(Cisco AnyConnect)</small></p>
              <p class="subtitle">
                ソフトウェアのダウンロードページや一部のデータベースにアクセスするために必要なソフトです
              </p>
            </a>
          </div>
        </div>
        </div>
    </div>
  </section>
</section>