<section class="hero is-chudaiblue" style="margin-bottom:3em;">
  <div class="hero-body">
    <div class="columns">
      <h3 class="has-text-weight-bold is-size-3">
        マニュアル
      </h3>
    </div>
  </div>
</section>
<iframe src="https://recommonmark.readthedocs.io/en/latest/ width="100vw"></iframe>