<section class="hero is-chudaiblue" style="margin-bottom:3em;">
  <div class="hero-body">
    <div class="columns">
      <h3 class="has-text-weight-bold is-size-3">
        履修登録
      </h3>
    </div>
  </div>
</section>
<div class="container is-fluid">
  <ul class="steps has-content-centered">
    <li class="steps-segment">
      <span class="steps-marker"></span>
      <div class="steps-content">
        <p class="is-size-4">ターム1</p>
        <p>必須履修が登録されています</p>
      </div>
    </li>
    <li class="steps-segment is-active">
      <span class="steps-marker"></span>
      <div class="steps-content">
        <p class="is-size-4">ターム2</p>
        <p>抽選:入門演習(1次)／総合教育科目演習Ⅰ(1次)／健康・スポーツ実習Ⅰa・Ⅰb</p>
      </div>
    </li>
    <li class="steps-segment">
      <span class="steps-marker"></span>
      <div class="steps-content">
        <p class="is-size-4">ターム3</p>
        <p>抽選:入門演習(2次)／総合教育科目演習Ⅰ(2次)／O・C（英語）／特設英語／上級英語／入門ICT／入門統計／ICTスキル／データ分析演習／情報科学／システムデ
ザイン／ICT応用演習／ビジネス・プロジェクト講座／キャリアデザイン／抽選を実施する一部の講義科目</p>
      </div>
    </li>
    <li class="steps-segment">
      <span class="steps-marker"></span>
      <div class="steps-content">
        <p class="is-size-4">ターム4</p>
        <p>ターム3で抽選対象の科目(2次)</p>
      </div>
    </li>
    <li class="steps-segment">
      <span class="steps-marker"></span>
      <div class="steps-content">
        <p class="is-size-4">ターム5</p>
        <p>抽選結果発表・履修届チェックリスト</p>
      </div>
    </li>
    <li class="steps-segment">
      <span class="steps-marker"></span>
      <div class="steps-content">
        <p class="is-size-4">ターム6</p>
        <p>抽選:健康・スポーツ実習の競技</p>
      </div>
    </li>
  </ul>
</div>
<div class="container has-text-centered" style="margin-top:2em; margin-bottom:2em;">
  <button class="Disabled button is-info is-size-4" style="margin:0.5em;" disabled>リストから選ぶ</button>
  <p class="has-text-danger-dark">履修登録期間外です</p>
</div>
<div class="container is-fluid">
  <h3 class="is-size-3 has-text-weight-bold">現在の登録状況</h3>
  <div class="table-container">
    <table class="table is-hoverable is-fullwidth is-bordered">
      <thead>
        <tr>
          <th style="width:10vw;">時限</th>
          <th style="min-width:15vw;">月</th>
          <th style="min-width:15vw;">火</th>
          <th style="min-width:15vw;">水</th>
          <th style="min-width:15vw;">木</th>
          <th style="min-width:15vw;">金</th>
          <th style="min-width:15vw;">土</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>1</th>
          <th>ああああああああ</th>
          <th>ああああああああ</th>
          <th>ああああああああ</th>
          <th>ああああああああ</th>
          <th>ああああああああ</th>
          <th>ああああああああ</th>
        </tr>
        <tr>
          <th>2</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <th>3</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <th>4</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <th>5</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<style>
table {
  display: block;
  overflow-x: scroll;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
</style>